[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Heat bed for probing
    M190 S{BED_TEMP}
    
    # Set and wait for nozzle to reach printing temperature
    M109 S{EXTRUDER_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28

    # If you are using QGL:
    #QUAD_GANTRY_LEVEL
    #G28 Z

    # If you are using Z-Tilt:
    #Z_TILT_ADJUST

    # If you are generating a new bed mesh:
    # BED_MESH_CALIBRATE ADAPTIVE=1
    ## NOTE:    The adaptive meshing feature requires exclude_object     ##
    ##      and may require 'Label Objects' to be enabled in the slicer  ##
    ##           To mesh without it just use BED_MESH_CALIBRATE          ##

    # If you are loading an existing mesh:
    BED_MESH_PROFILE LOAD=default

    # Move the nozzle near the bed
    G1 Z5 F3000

  
    # Start printing!

# Enable exclude_object for adaptive meshing
[exclude_object]
    

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    TURN_OFF_HEATERS
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G0 Z10 F3000
    G90
    # Disable steppers
    M84

    

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}    
;[gcode_macro START_PRINT]
; gcode:
;     {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
;     {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
;     # Heat nozzle for probing
;     M104 S150
;     # Heat bed for probing
;     M190 S{BED_TEMP}

;     # Use absolute coordinates
;     G90

;     # Home the printer
;     G28

;     # If you are using Z-Tilt:
;     #Z_TILT_ADJUST

;     # If you are generating a new bed mesh:
;     #BED_MESH_CALIBRATE
;     BED_MESH_CALIBRATE ADAPTIVE=1
;     ## NOTE:    The adaptive meshing feature requires exclude_object     ##
;     ##      and may require 'Label Objects' to be enabled in the slicer  ##
;     ##           To mesh without it just use BED_MESH_CALIBRATE          ##

;     # If you are loading an existing mesh:
;     #BED_MESH_PROFILE LOAD=default

;     # Move the nozzle near the bed
;     G1 Z5 F3000
;     # Set and wait for nozzle to reach printing temperature
;     M109 S{EXTRUDER_TEMP}
;     # Start printing!

; # Enable exclude_object for adaptive meshing
; [exclude_object]
